<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OgrenciYonetimSistemi.Properties.Settings.dbOgrencilerConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=dbOgrenciler;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
        <add name="OgrenciYonetimSistemi.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=localhost;Persist Security Info=True;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>